:root {
  --unit: 1rem;
  --font-family: sans-serif;
  --line-height: 1.2;
}

@custom-media --breakpoint-1 (min-width: 48.000em); /* 768px */
@custom-media --breakpoint-1- (max-width: 47.999em);

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: auto;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

p,
ul,
ol,
blockquote {
  line-height: var(--line-height);
}
