
:root {
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1;
  box-sizing: border-box;

  --line-height: 1.2;

  --group: {
    content: "";
    display: table;
    clear: both;
  }
}

@custom-media --sm (min-width: 32em); /* 512 */
@custom-media --md (min-width: 48em); /* 768 */
@custom-media --lg (min-width: 64em); /* 1024 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

p,
ul,
ol,
blockquote {
  line-height: var(--line-height);
}
